[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gym = {extras = ["atari"],version = "*"}
tensorflow = "==1.15.4"
keras = "==2.1.6"
opencv-python = "*"
scikit-image = "*"
matplotlib = "*"
pandas = "*"
tqdm = "*"

[requires]
python_version = "3.6"
